.mx-auto {
	margin-right: auto;
	margin-left: auto;
}
.xicon {
	height: 2em;
	margin-top: 0.5em;
	margin-left: auto;
	float: right;
	cursor: pointer;
}
.hide {
	visibility: hidden;
}
#sortable > li:hover > .hide
{
	visibility: visible;
}
.ed_input {
	height: 40px;
	width: 100%;
	/*margin-top: 2em;
	margin-bottom: 2em;*/
}
.srclink {
	padding: 1em;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.srclink:hover{
	background-color: rgba(0,0,0,0.2);
	font-size: 200%;
}
.srclink > a {
	font-weight: 400;
	text-decoration: none;
	color: #fff;
}